#
#Fri Mar 23 19:54:39 EET 2018
app.max_db_connections_count=10
app.classes.path=target/classes/com/linkedin/replica/jobs
handler.nosql=ArangoHandler
package.commands=commands
package.handlers=database
collection.companies.name=companies
collection.jobs.name=jobs
app.controller.host=localhost
rabbitmq.queue.client=JOBS
rabbitmq.ip=192.168.43.50
app.max_thread_count=20
app.controller.port=8083
rabbitmq.username=admin
rabbitmq.password=123456
