delete.job.company=DeleteJobAsCompanyCommand
job.listing=JobListingCommand
respond.to.applicant=RespondToApplicantsCommand
view.applied.jobs=ViewAppliedJobsCommand
post.job.company=JobAsCompany
delete.job.company.handler=ArangoSQLJobsHandler
job.listing.handler=ArangoSQLJobsHandler
respond.to.applicant.handler=ArangoSQLJobsHandler
view.applied.jobs.handler=ArangoSQLJobsHandler
post.job.company.handler=ArangoSQLJobsHandler
