#
#Fri Mar 23 18:59:39 EET 2018
view.applied.jobs=ViewAppliedJobsCommand
job.listing.handler=ArangoSQLJobsHandler
delete.job.company=DeleteJobAsCompanyCommand
editInfo.test=testCommand
editInfo.test.handler=ArangoNotificationsHandler
view.applied.jobs.handler=ArangoSQLJobsHandler
respond.to.applicant=RespondToApplicantsCommand
job.listing=JobListingCommand
respond.to.applicant.handler=ArangoSQLJobsHandler
delete.job.company.handler=ArangoSQLJobsHandler
post.job.company=JobAsCompany
post.job.company.handler=ArangoSQLJobsHandler
