#
#Fri Mar 23 19:54:39 EET 2018
view.applied.jobs=ViewAppliedJobsCommand
view.applied.jobs.handler=ArangoSQLJobsHandler
company.create.job=CreateJobCommand
company.create.job.handler=ArangoSQLJobsHandler
save.job=SaveJobCommand
save.job.handler=ArangoSQLJobsHandler
get.saved.jobs=GetSavedJobCommand
get.saved.jobs.handler=ArangoSQLJobsHandler
job.listing=JobListingCommand
job.listing.handler=ArangoSQLJobsHandler
delete.job.company=DeleteJobAsCompanyCommand
delete.job.company.handler=ArangoSQLJobsHandler
respond.to.applicant=RespondToApplicantsCommand
respond.to.applicant.handler=ArangoSQLJobsHandler
edit.job=EditJobCommand
edit.job.handler=ArangoSQLJobsHandler
user.apply.job=UserApplyForJobCommand
user.apply.job.handler=ArangoSQLJobsHandler
